<%= provide(:page_title, "All Posts" )%>
<% provide(:blog_active, 'active') %>
<p id="notice"><%= notice %></p>

<!-- Preloader -->
    <section class="header-wrap hero-section bg-light">
      <div class="container">
        <div class="logo-container text-center">
          <div class="logo-wrap">
            <%= link_to "/" do%>
            <%= image_tag("http://via.placeholder.com/50x50", class: "logo-dark", alt:"") %>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <div class="content-wrapper oh">

      <!-- Latest Stories -->
      <section class="section-wrap latest-stories pb-0">
        <div class="container-fluid nopadding">
          <div class="heading-row text-center mb-40">
            <h2 class="heading uppercase small">Latest Stories</h2>
          </div>

          <div id="main-slider" class="flickity-slider-wrap">
          <% @posts.each do |post|%>
            <div class="gallery-cell">
              <article>
                <%= link_to "/", class: "entry-img" do%>
                <%= image_tag("http://via.placeholder.com/377x307", class: "img-responsive", alt:"") %>
                  <span class="entry-category">Travel</span>
                <% end %>
                <div class="entry text-center">
                  <h4 class="entry-title uppercase">
                  <%= link_to "/" do%><%= post.title%><% end %>
                  </h4>
                  <span class="entry-date">Jul 14, 2016</span>
                </div>
              </article>
              </div>
              <% end %>

            <div class="gallery-cell">
              <article>
                <%= link_to "/", class: "entry-img" do%>
                  <%= image_tag("http://via.placeholder.com/377x307", class: "img-responsive", alt:"") %>
                  <span class="entry-category">Travel</span>
                <% end %>
                <div class="entry text-center">
                  <h4 class="entry-title uppercase">
                  <%= link_to "/" do%>Vinez Boat Ride<% end %></h4>
                  <span class="entry-date">Jul 14, 2016</span>
                </div>
              </article>
            </div>

            <div class="gallery-cell">
              <article>
                <%= link_to "/", class: "entry-img" do%>
                  <%= image_tag("http://via.placeholder.com/377x307", class: "img-responsive", alt:"") %>
                  <span class="entry-category">Travel</span>
                <% end %>
                <div class="entry text-center">
                  <h4 class="entry-title uppercase">
                  <%= link_to "/" do%>Vinez Boat Ride<% end %></h4>
                  <span class="entry-date">Jul 14, 2016</span>
                </div>
              </article>
            </div>

            <div class="gallery-cell">
              <article>
                <%= link_to "/", class: "entry-img" do%>
                  <%= image_tag("http://via.placeholder.com/377x307", class: "img-responsive", alt:"") %>
                  <span class="entry-category">Travel</span>
                <% end %>
                <div class="entry text-center">
                  <h4 class="entry-title uppercase">
                  <%= link_to "/" do%>Vinez Boat Ride<% end %></h4>
                  <span class="entry-date">Jul 14, 2016</span>
                </div>
              </article>
            </div>

           <div class="gallery-cell">
              <article>
                <%= link_to "/", class: "entry-img" do%>
                  <%= image_tag("http://via.placeholder.com/377x307", class: "img-responsive", alt:"") %>
                  <span class="entry-category">Travel</span>
                <% end %>
                <div class="entry text-center">
                  <h4 class="entry-title uppercase">
                  <%= link_to "/" do%>Vinez Boat Ride<% end %></h4>
                  <span class="entry-date">Jul 14, 2016</span>
                </div>
              </article>
            </div>
        </div>
        </div>

      </section> <!-- end latest stories -->

      <!-- Content -->
      <section class="content blog-standard">
        <div class="container relative">
          <div class="row">
            <!-- post content -->
            <div class="col-md-9 post-content mb-50">
              <!-- large post -->
              <article class="entry-item large-post">
                <div class="entry-header">
                  <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                  <h2 class="entry-title">
                    <%= link_to "/" do%>Natural Summer<% end %>
                  </h2>
                </div>
                <div class="entry-img">
                  <%= link_to "/" do%>
                   <%= image_tag("http://via.placeholder.com/888x578", class: "img-responsive", alt:"") %>
                  <% end %>
                </div>

                <div class="entry-wrap">
                  <div class="entry">
                    <div class="entry-content">
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisma bibendum auctor, nisi elit consequat ipsum, necsagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi acumsan ipsum velit. Nam nec tellusb a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent tacitioci Nullam ac urnaeu felis dapibus condi  entum sit amet a augue osqu ad litora torquent per conubia nostra, perada inceptos...
                      </p>
                      <div class="text-center">
                        <%= link_to "/", class: "read-more underline-link" do%>Read More<% end %>
                      </div>
                    </div>

                    <div class="entry-meta-wrap clearfix">
                      <ul class="entry-meta">
                        <li class="entry-date">
                          <%= link_to "/" do%>August 30, 2016<% end %>
                        </li>
                        <li class="entry-comments">
                          <%= link_to "/" do%>2 Comments<% end %>
                        </li>             
                      </ul>

                      <div class="social-icons right">
                        <%= link_to "/" do%>
                          <i class="fa fa-instagram"></i>
                        <% end %>
                         <%= link_to "/" do%>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                        <%= link_to "/" do%>
                          <i class="fa fa-twitter"></i>
                        <% end %>                        
                         <%= link_to "/" do%>
                          <i class="fa fa-pinterest-p"></i>
                        <% end %>
                         <%= link_to "/" do%>
                          <i class="fa fa-heart"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </article> <!-- end large post -->

              <!-- grid posts -->
              <div class="row items-grid">
                <div class="col-sm-6">
                  <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                   <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                  <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                 <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

              </div> <!-- end grid posts -->

              <!-- large post -->
              <article class="entry-item large-post">

                <div class="entry-header">
                  <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                  <h2 class="entry-title">
                    <%= link_to "/" do%>escape from reality<% end %>
                  </h2>
                </div>

                <%= link_to "/", class: "entry-slider" do%>
                  <div class="flexslider" id="flexslider">
                    <ul class="slides clearfix">
                      <li>
                       <%= image_tag("http://via.placeholder.com/888x578", class: "img-responsive", alt:"") %>
                      </li>
                      <li>
                        <%= image_tag("http://via.placeholder.com/888x578", class: "img-responsive", alt:"") %>
                      </li>
                      <li>
                         <%= image_tag("http://via.placeholder.com/888x578", class: "img-responsive", alt:"") %>
                      </li>
                    </ul>
                  </div>
                <% end %> <!-- end slider -->

                <div class="entry-wrap">
                  <div class="entry">
                    <div class="entry-content">
                      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisma bibendum auctor, nisi elit consequat ipsum, necsagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi acumsan ipsum velit. Nam nec tellusb a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent tacitioci Nullam ac urnaeu felis dapibus condi  entum sit amet a augue osqu ad litora torquent per conubia nostra, perada inceptos...
                      </p>
                      <div class="text-center">
                        <%= link_to "/", class: "read-more underline-link" do%>Read More<% end %>
                      </div>
                    </div>

                    <div class="entry-meta-wrap clearfix">
                      <ul class="entry-meta">
                        <li class="entry-date">
                          <%= link_to "/" do%>August 30, 2016<% end %>
                        </li>
                        <li class="entry-comments">
                        <%= link_to "/" do%>2 Comments<% end %>
                        </li>             
                      </ul>

                      <div class="social-icons right">
                       <%= link_to "/" do%>
                          <i class="fa fa-instagram"></i>
                        <% end %>
                       <%= link_to "/" do%>
                          <i class="fa fa-facebook"></i>
                        <% end %>
                      <%= link_to "/" do%>
                          <i class="fa fa-twitter"></i>
                        <% end %>                        
                      <%= link_to "/" do%>
                          <i class="fa fa-pinterest-p"></i>
                        <% end %>
                       <%= link_to "/" do%>
                          <i class="fa fa-heart"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </article> <!-- end large post -->

              <!-- grid posts -->
              <div class="row">
                <div class="col-sm-6">
                  <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>

                <div class="col-sm-6">
                   <article class="entry-item">
                    <div class="entry-img">
                     <%= link_to "/" do%>
                       <%= image_tag("http://via.placeholder.com/425x324", class: "img-responsive", alt:"") %>
                      <% end %>
                    </div>
                    <div class="entry-header">
                      <%= link_to "/", class: "entry-category" do%>Lifestyle<% end %>
                      <h2 class="entry-title">
                        <%= link_to "/" do%>missing the Bahamas<% end %>
                      </h2>
                    </div>
                    <div class="entry-wrap">
                      <div class="entry">
                        <div class="entry-content">
                          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulput ate cursus a sit amet mauris. Morbi accumsan ipsum velit. Namec elit tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae...
                          </p>
                        </div>
                        <div class="entry-meta-wrap clearfix">
                          <ul class="entry-meta">
                            <li class="entry-date">
                              <%= link_to "/" do%>August 30, 2016<% end %>
                            </li>
                            <li class="entry-comments">
                               <%= link_to "/" do%>2 Comments<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
              </div> <!-- end grid posts -->

              <div class="row mt-20">
                <div class="col-md-12 text-center">
                  <%= link_to "/", class: "btn btn-md btn-stroke", id: "load-more" do%>Load More<% end %>
                </div>
              </div>
            </div> <!-- end col -->

            <!-- Sidebar -->
            <aside class="col-md-3 sidebar">
              <div class="widget about-blog text-center">
                <div class="heading-lines">
                  <h3 class="widget-title heading">About Me</h3>
                </div>
                 <%= image_tag("http://via.placeholder.com/300x196", class: "img-responsive", alt:"") %>
                <p class="mb-20 mt-30">A personal diary of wanderlust and an overflowing wardrobe. Live with passion.</p>
              </div>

              <!-- Newsletter -->
              <div class="widget newsletter">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Newsletter</h3>
                </div>
                <form class="relative newsletter-form">
                  <input type="email" placeholder="Your email address">
                </form>
                <input type="submit" value="Subscribe" id="submit-button" class="btn btn-lg btn-color">
              </div>

              <!-- Instagram Feed Grid -->
              <div class="widget instagram">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Instagram</h3>
                </div>
                <ul id="instafeed-grid"></ul>
              </div>

              <!-- Categories -->
              <div class="widget categories">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Categories</h3>
                </div>
                <ul class="list-dividers">
                  <li>
                    <% link_to "/" do%>Lifestyle<% end %><span>(8)</span>
                  </li>
                  <li>
                    <% link_to "/" do%>Travel<% end %><span>(14)</span>
                  </li>
                  <li>
                    <% link_to "/" do%>Beauty<% end %><span>(5)</span>
                  </li>
                  <li>
                    <% link_to "/" do%>Music<% end %><span>(3)</span>
                  </li>
                  <li>
                    <% link_to "/" do%>Food<% end %><span>(7)</span>
                  </li>
                </ul>
              </div>

              <!-- Ad banner -->
              <div class="widget custom-ad-banner">
                <%= link_to "/" do%>
                 <%= image_tag("http://via.placeholder.com/300x250", class: "img-responsive", alt:"") %>
                <% end %>
              </div>

              <!-- Recent Posts -->
              <div class="widget recent-posts">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Recent Posts</h3>
                </div>
                <div class="entry-list w-thumbs">
                  <ul class="posts-list list-dividers">
                    <li class="entry-li">
                      <article class="post-small clearfix">
                        <div class="entry-img">
                          <%= link_to "/" do%>
                             <%= image_tag("http://via.placeholder.com/300x250", class: "img-responsive", alt:"") %>
                          <% end %>
                        </div>
                        <div class="entry">
                          <h3 class="entry-title">
                         <%= link_to "/" do%>Best Beaches in Sydney<% end %></h3>
                          <ul class="entry-meta list-inline">
                            <li class="entry-date">
                               <%= link_to "/" do%>19 Mar, 2016<% end %>
                            </li>
                          </ul>
                        </div>
                      </article>
                    </li>
                    <li class="entry-li">
                      <article class="post-small clearfix">
                        <div class="entry-img">
                         <%= link_to "/" do%>
                            <%= image_tag("http://via.placeholder.com/88x69", class: "img-responsive", alt:"") %>
                          <% end %>
                        </div>
                        <div class="entry">
                          <h3 class="entry-title">
                           <%= link_to "/" do%>First Summer Ice Cream<% end %></h3>
                          <ul class="entry-meta list-inline">
                            <li class="entry-date">
                              <%= link_to "/" do%>16 Mar, 2016<% end %>
                            </li>
                          </ul>
                        </div>
                      </article>
                    </li>
                    <li class="entry-li">
                      <article class="post-small clearfix">
                        <div class="entry-img">
                         <%= link_to "/" do%>
                            <%= image_tag("http://via.placeholder.com/88x69", class: "img-responsive", alt:"") %>
                          <% end %>
                        </div>
                        <div class="entry">
                          <h3 class="entry-title">
                          <%= link_to "/" do%>First Summer Ice Cream<% end %></h3>
                          <ul class="entry-meta list-inline">
                            <li class="entry-date">
                              <%= link_to "/" do%>16 Mar, 2016<% end %>
                            </li>
                          </ul>
                        </div>
                      </article>
                    </li>
                    <li class="entry-li">
                      <article class="post-small clearfix">
                        <div class="entry-img">
                         <%= link_to "/" do%>
                            <%= image_tag("http://via.placeholder.com/88x69", class: "img-responsive", alt:"") %>
                          <% end %>
                        </div>
                        <div class="entry">
                          <h3 class="entry-title">
                         <%= link_to "/" do%>First Summer Ice Cream<% end %></h3>
                          <ul class="entry-meta list-inline">
                            <li class="entry-date">
                              <%= link_to "/" do%>16 Mar, 2016<% end %>
                            </li>
                          </ul>
                        </div>
                      </article>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Latest Tweets -->
              <div class="widget categories">
                <div class="heading-lines">
                  <h3 class="widget-title heading">Latest Tweets</h3>
                </div>
                <div class="twitter-slider text-center">
                  <i class="fa fa-twitter twitter-icon"></i>
                 <%= link_to "/" do%>@deothemes<% end %>
                  <div id="tweets"></div>
                </div>
              </div>
            </aside> <!-- end sidebar -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </section> <!-- end content -->


      <!-- Instagram Feed -->
      <div class="instagram-feed text-center">
        <h3 class="heading uppercase">Instagram</h3>
        <h5 class="heading uppercase mb-30">follow @soho</h5>
        <ul id="instafeed-row"></ul>
      </div>


      <div class="widget-social">
        <div class="social-icons text-center">
          <%= link_to "/" do%>
            <i class="fa fa-instagram"></i>
            <span>instagram</span>
          <% end %>
         <%= link_to "/" do%>
            <i class="fa fa-facebook"></i>
            <span>facebook</span>
          <% end %>
          <%= link_to "/" do%>
            <i class="fa fa-twitter"></i>
            <span>twitter</span>
          <% end %>
          <%= link_to "/" do%>
            <i class="fa fa-pinterest-p"></i>
            <span>pinterest</span>
          <% end %>
         <%= link_to "/" do%>
            <i class="fa fa-rss"></i>
            <span>rss</span>
          <% end %>
        </div>
      </div>


      <!-- Footer Type-1 -->
      <footer class="footer footer-type-1 bg-dark">
        <div class="bottom-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 copyright text-center">
                <span>
                  © 2017 Andymental • Made by  <%= link_to "/" do%>Rutul Shah<% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  <!-- end main wrapper -->

  
<script type="text/javascript">
    $(window).load(function() {

      var InstafeedRow = new Instafeed({
          target: 'instafeed-row',
          get: 'user',
          userId: '3562688430',
          accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
          resolution: 'low_resolution',
          limit: '6',
          template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"/></a></li>'
      });

      var InstafeedGrid = new Instafeed({
          target: 'instafeed-grid',
          get: 'user',
          userId: '3562688430',
          accessToken: '3562688430.ceddd6d.c54fa5142fa847f89827e5cf9b19d885',
          resolution: 'low_resolution',
          limit: '9',
          template: '<li class="instagram-item"><a target="_blank" href="{{link}}"><img class="instagram-img" alt="Instagram Image" src="{{image}}"/></a></li>'
      });

      InstafeedRow.run();
      InstafeedGrid.run();

    });
  </script>