<header class="nav-type-1 dark-nav">
      <nav class="navbar navbar-fixed-top">
        <div class="navigation">
          <div class="container relative">
            <div class="row">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> <!-- end navbar-header -->


              <!-- side menu -->
              <div class="side-menu nav-left hidden-sm hidden-xs">
                <div class="nav-inner">
                  <div class="nav-search-wrap hidden-sm hidden-xs">
                    <%= link_to "/", class: "nav-search search-trigger" do%>
                      <i class="icon icon_search"></i>
                    <% end %>
                  </div>
                </div>
              </div> <!-- end side menu -->

              <div class="col-md-12 nav-wrap">
                <div class="collapse navbar-collapse text-center" id="navbar-collapse">
                  <ul class="nav navbar-nav">
                     <li>
                      <%= link_to root_path, class: " nav-link #{yield(:blog_active)}" do%>Blog<% end %>
                    </li>

                    <!-- <li class="dropdown">
                      <a href="#">Categories</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></i>
                      <ul class="dropdown-menu">
                        <li><%= link_to "/" do%>Lifestyle<% end %></li>
                        <li><%= link_to "/" do%>Fashion<% end %></li>
                        <li><%= link_to "/" do%>Food<% end %></li>
                        <li><%= link_to "/" do%>Travel<% end %></li>
                      </ul>
                    </li> -->

                    <li>
                      <%= link_to about_path, class: " nav-link #{yield(:about_active)}" do%>About<% end %>
                    </li>

                    <li>
                      <%= link_to contact_path,  class: " nav-link #{yield(:contact_active)}" do%>Contact<% end %>
                    </li>
                    <% if logged_in? %>
                    <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "MY Post", author_posts_path %></li>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Setting", edit_user_path(current_user) %></li>
                        <li>
                          <%= link_to "Log out", logout_path, method: :delete %>
                        </li>
                        </ul>
                        </li>
                        <% else %>
                         <li><%= link_to "Log in", login_path %></li>
                        <% end %>
                        </ul>
                  </ul> <!-- end menu -->
                </div> <!-- end collapse -->
              </div> <!-- end col -->

              <!-- side menu -->
              <div class="side-menu right mobile-left-align">
                <div class="nav-inner menu-socials social-icons">
                  <div class="right">
                    <%= link_to "/" do%><i class="fa fa-instagram"></i><% end %>
                    <%= link_to "/" do%><i class="fa fa-facebook"></i><% end %>
                    <%= link_to "/" do%><i class="fa fa-twitter"></i><% end %>
                    <%= link_to "/" do%><i class="fa fa-pinterest-p"></i><% end %>
                    <%= link_to "/" do%><i class="fa fa-heart"></i><% end %>
                  </div>
                </div>
              </div> <!-- end side menu -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header>

    